
{% block title %}Make Payment !{% endblock %}

{% block body %}
    
    <form action="/checkout" method="post">
    <button type="submit" class="btn-primary btn-lg">checkout </button>
    </form>
<div>

</div>
{% endblock %}