{% block contenu %}
<div class="d-flex justify-content-center">
<a  href="http://127.0.0.1:8000/checkout">checkout</a>
 {# <a href="{{ path('facture_pdf', {'id': facture.id }) }}">votre facture pdf</a> #}
 <a  href="http://127.0.0.1:8000/pdf/35">facture pdf</a>
 </div>
{% endblock %}